:host {
  background-color: black;
}

.swiper-container {
  height: 100%;
  max-height: 100vh;
  width: 100%;
  background-color: black;
  overscroll-behavior-y: contain;

  &__previous,
  &__next {
    position: absolute;
    left: 0;
    right: 0;
  }

  &__previous {
    bottom: 100%;
  }

  &__next {
    bottom: -100%;
  }
}

.video-container {
  height: 100dvh;
  max-height: 100vh;
  background-color: black;
  overflow: hidden;
}
