<div class="video-list">
	<app-video-list-item src="assets/mocks/video1.mp4" [views]="3477"></app-video-list-item>
	<app-video-list-item src="assets/mocks/video2.mp4" [views]="754"></app-video-list-item>
	<app-video-list-item src="assets/mocks/video3.mp4" [views]="432"></app-video-list-item>
	<app-video-list-item src="assets/mocks/video3.mp4" [views]="1434"></app-video-list-item>
	<app-video-list-item src="assets/mocks/video2.mp4" [views]="322"></app-video-list-item>
	<app-video-list-item src="assets/mocks/video1.mp4" [views]="108"></app-video-list-item>
</div>
