<div class="preference-markers">
	<app-preference-marker
		title="Economic"
		[primaryValue]="75"
		[compareValue]="45"
		leftIcon="balance-scale"
		rightIcon="dollar-sign"
	></app-preference-marker>
	<app-preference-marker
		title="Diplomatic"
		[primaryValue]="35"
		[compareValue]="60"
		leftIcon="flag"
		rightIcon="globe-europe"
	></app-preference-marker>
	<app-preference-marker
		title="Civil"
		[primaryValue]="50"
		[compareValue]="35"
		leftIcon="/assets/icons/new-york-grayed.svg"
		leftIconActive="/assets/icons/new-york-highlighted.svg"
		leftIconType="svg"
		rightIcon="gavel"
	></app-preference-marker>
	<app-preference-marker
		title="Societal"
		[primaryValue]="15"
		[compareValue]="90"
		leftIcon="hourglass-half"
		rightIcon="atom"
	></app-preference-marker>
</div>
