.profile {
  display: flex;
  margin-top: 4.5rem;

  &__avatar {
    width: 100px;
    height: 100px;
    border-radius: 50% 50%;
  }

  &__data {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    align-self: center;
    padding-top: 50px;
    gap: 0.5rem;

    &-name {
      font-weight: bolder;
      font-size: large;
      line-height: 2rem;
    }
  }
}

.description {
  max-width: 300px;
  margin-left: 10px;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
}

.description-box {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.follow-icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(18%) saturate(0%) hue-rotate(5deg) brightness(112%) contrast(100%);
}

.btn {
  border-radius: 24px;
  height: 40px;

  &-content {
    display: flex;
    gap: 1rem;
  }
}

.background {
  height: 125px;
  background-image: url("../../../../assets/images/beach.jpg");
  position: absolute;
  right: -50px;
  z-index: -999;
  left: -50px;
  background-size: cover;
  background-position: center;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn-more {
  border-radius: 8px;
  background-color: #E2E4EB;
  width: 43px;
  height: 40px;
  border: unset;
}
