<div class="container">
	<div>
		<app-profile-details></app-profile-details>
		<button mat-raised-button color="primary">Follow</button>
	</div>

	<mat-tab-group class="tabs">
		<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon class="example-tab-icon">thumb_up</mat-icon>
			</ng-template>

			<div class="posts" *ngFor="let post of posts">
				<app-post [data]="post"></app-post>
			</div>
		</mat-tab>

		<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon class="example-tab-icon">thumb_up</mat-icon>
			</ng-template>
			Content 2
		</mat-tab>

		<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon class="example-tab-icon">thumb_up</mat-icon>
			</ng-template>

			Content 3
		</mat-tab>
	</mat-tab-group>
</div>
