.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs {
  width: 90%;
}

button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.posts {
  margin-top: 0.5rem
}

:host::ng-deep .mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
}
