.video-container {
  position: relative;
  height: 100%;

  &__video {
    position: absolute;
    width: 100%;
    inset: 0;
    max-width: 100%;
  }

  &__data {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 275px;
    padding: 64px 24px 24px;
    background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));

    &__author {
      color: var(--neutrals-white, #FFF);
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      margin-bottom: 8px;
    }

    &__description {
      color: var(--neutrals-white, #FFF);
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px; /* 133.333% */
      margin-bottom: 20px;
    }

    &__tags {
      color: var(--neutrals-white, #FFF);
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px; /* 133.333% */
    }
  }
}
