<div class="phone-container">
	<div class="phone-container__screen">
		<router-outlet></router-outlet>

		<div class="bottom-navigation">
			<a class="nav-item" routerLink="/home" routerLinkActive="nav-item--active">
				<app-icon icon="home"></app-icon>
			</a>
			<a class="nav-item" routerLink="/profile/politician/2" routerLinkActive="nav-item--active">
				<app-icon icon="search"></app-icon>
			</a>
			<a class="nav-item" routerLink="/profile/user/{{userId}}" routerLinkActive="nav-item--active">
				<app-icon icon="user"></app-icon>
			</a>
		</div>
	</div>
</div>
