@media (min-width: 768px) {
  .phone-container {
    margin: 2rem;
    border: 1px solid black;
    border-radius: 20px;
    padding: 24px;
    max-width: 550px;
    height: 800px;
    background-color: black;

    &__screen {
      background-color: white;
      border-radius: 12px;
      height: 100%;
      position: relative;
    }
  }
}

.bottom-navigation {
  position: absolute;
  display: flex;
  padding: 16px 48px;
  justify-content: center;
  align-items: center;
  gap: 85px;
  border-radius: 20px;
  background: var(--neutrals-white, #FFF);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
  bottom: 12px;
  right: 12px;
  left: 12px;
}


.nav-item{
  color: var(--primary-navy, #001F3F);

  &--active{
    color: var(--neutrals-metal, #828DA9);
  }
}
