<form class="sign-in-form">
	<img class="sign-in-form__logo" src="/assets/images/vox-login.png" alt="VOX engage, educate, enpower" />
	<h1 class="sign-in-form__title">Sign In</h1>

	<div class="sign-in-form__input">
		<label class="sign-in-form__label">Enter your username or email address</label>
		<mat-form-field>
			<input matInput placeholder="Username or email address" />
		</mat-form-field>
	</div>

	<div class="sign-in-form__input">
		<label class="sign-in-form__label">Enter password</label>
		<mat-form-field>
			<input matInput placeholder="Password" />
		</mat-form-field>
	</div>

	<p class="sign-in-form__forgot-password">Forgot Password</p>
	<button class="sign-in-form__sign-in-btn" mat-raised-button color="primary" routerLink="">SIGN IN</button>
</form>
