/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  position: relative;

  @media (min-width: 768px) {
    overflow: scroll !important;
  }
}

video {
  max-width: 100%;
}

.fa {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

a, a:visited{
  color: inherit;
}

.positive-attidute {
  --filter: brightness(0) saturate(100%) invert(77%) sepia(15%) saturate(1551%) hue-rotate(44deg) brightness(90%) contrast(89%);;
}

.neutral-attidute {
  --filter: brightness(0) saturate(100%) invert(90%) sepia(89%) saturate(3437%) hue-rotate(326deg) brightness(103%) contrast(98%);
}

.negative-attidute {
  filter: brightness(0) saturate(100%) invert(25%) sepia(31%) saturate(2221%) hue-rotate(323deg) brightness(116%) contrast(123%);;
}

@font-face {
  font-family: 'Inter';
  src: url('assets/inter.ttf');
}

* {
  font-family: 'Inter';
}
